html {
  background-color: rgb(100,0,0);
}

body {
  background-color: rgb(150,150,150);
  margin: 0 auto;
  width: 70%;
}

#Name_header {
  padding: 10px;
  margin: 20px;
  width: 300px;
  text-align: center;
}

#Some_details {
  padding: 10px;
  margin: 20px;
  width: 300px;
  text-align: center;
}

.Picture {
  border: 10px groove orangered;
  padding: 10px;
  width: 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#link1,#link2,#link3 {
  border: 10px double orangered;
  padding: 10px;
  width: 100px;
  height: 60px;
  margin: 0 auto;
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

#link1:hover,#link2:hover,#link3:hover {
  color:green;
}

li:nth-child(odd) {
  color: red;
}
li:nth-child(even) {
  color: green;
}

li:nth-child(even)::first-letter {
  font-size: 25px;
}


/* #header2 {
  color: blue;
} */







/* comments. Cool */
