.HeaderDiv {
  height:0 auto;
  width:200px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  border: 5px groove red;
}

#Header1 {
  border: 5px groove red;
}

#Main_Text {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.5rem;
  letter-spacing: normal;
  color: rgb(0,0,0);
  /* font-family: "Roboto","Verdana","Arial",sans-serif; */
  /* font-variant: small-caps; */
  font-family: "Roboto",sans-serif;
  /* text-shadow: 0px 5px 0px red; */
}
