
* {
  border: 1px dashed hotpink;
}

#WebsiteLists {
  background-color: red;
  width:500px;
  height: auto
  box-sizing: border-box;
  align-items: center;
}

/* All Links hae */
.Links_list {
  /* border: 1px solid black; */
  width: auto;
  height: auto;
  font-size: 24px;
  /* list-style: outside none none; */
  display: inline-block
}

.Links{
  padding: 5px;
  border: 2px;
  display: inline-block;
  text-decoration: none;
}

.Links:hover {
  background-color: green;
}
